PUBLIC_POCKETBASE_URL=http://127.0.0.1:8090
RESEND_API_KEY=
CONTACT_FROM_EMAIL=Elite Lion Dance <onboarding@resend.dev>
CONTACT_TO_EMAIL=min.sun@efrei.net
CONTACT_RATE_LIMIT_WINDOW_MS=900000
CONTACT_RATE_LIMIT_MAX=5
